.wrapper 
{
    width: 1100px;
    margin: 0 auto;
}
.layer
{
    margin-top: 15px;
    margin-bottom: 15px;
}
.header
{
    background-color: gray;
    padding: 10px;
    overflow: hidden;
}
.logo
{
    float: left;
}
.title
{
    float: left;
    margin-left: 15px;
}
.account-actions
{
    float: right;
    margin-top: 40px;
    margin-right: 25px;
}
.content
{
    background-color: gray;
    padding: 10px;
}
.footer
{
    background-color: gray;
    text-align: center;
    padding: 10px;
}
.village-wrapper
{
}
.village
{
    background-color: black;
    width: 560px;
    height: 450px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    background-image: url("../../images/village-background.png")
}
.keep
{
    margin-top: 200px;
    margin-left: 223px;
}
.resources
{
    width: 250px;
    height: 450px;
    float: left;
}
.armies
{
    width: 250px;
    height: 450px;
    float: left;
}
.box
{
    background-color: #c3ccb5;
    border: 3px solid #008000;
    width: 100px;
    height: 100px;
    font-size: 70px;
    text-align: center;
}
.go
{
    width: 150px;
    height: 50px;
    background-color: #cddc39;
    font-size: 20px;
}
.again
{
    width: 200px;
    height: 50px;
    background-color: #cddc39;
    font-size: 20px;
}
.games
{
    float: right;
    text-align: right;
}